<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Availability</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/avaibility_calendar.css' %}">
</head>
<body>
    <div class="card">
        <h2 style="text-align: center;">Room Availability for {{ room.number }} on {{ today|date:"F Y" }}</h2>
        <div class="calendar">
            {% for day in days_of_month %}
                <div class="day {% if day in booked_days %}booked{% else %}free{% endif %}">
                    {{ day }}
                </div>
            {% endfor %}
        </div>
        <a class="button_2 " href="/">Back to Main</a>
    </div>
</body>
</html>
