
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/booking_list.css' %}">
</head>
<body>
    <div class="container">
    <h1>Booking List</h1>
    <div class="btn-container">
        <a class="back " style="display: flex; justify-content: center; align-items: center; padding: 5px; text-decoration: none; color: #ffffff;" href="/" >Back</a>
    </div>    
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.room }}</td>
            <td>{{ booking.start_time }}</td>
            <td>{{ booking.end_time }}</td>
            <td>
                <a href="{% url 'booking_edit' booking.id %}">Edit</a> |
                <a href="{% url 'booking_delete' booking.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>