
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room_delete.css' %}">>
</head>
<body>
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete room "{{ booking.user }}"?</p>
    <form method="POST">
        {% csrf_token %}
        <button class="button" style="margin-right: 10px;" type="submit">Yes, delete</button>
        <a class="button_2 " style="margin-left: 10px;" href="/" class="btn btn-primary">No, я передумал</a>
    </form>
</body>
</html>